/* General Settings */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

main {
  position: relative;
  top: 70px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: inherit;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav span {
  padding: 10px;
}

a {
  color: inherit;
}

/* Universal Heading Settings */

h2, h4, h5 {
  text-align: center;
  padding: 10px;
}

.headings {
  background-color: black;
  width: inherit;
}

/* Section One - Mission Statement */

#mission {
  background-image: url(../../resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* Section Two - Tea of the Month Menu */

#tea {
  width: 1000px;
  height: 750px;
  margin: 0 auto;
}

.teas.headings {
  height: 120px;
  padding-top: 50px;
}

.menu {
  height: 515px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.item {
  width: 330px;
}

.item img {
  width: 300px;
  margin-left: 15px;
}

/* Section Three - Locations */

#locations {
  background-image: url(../../resources/images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  padding-bottom: 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stores {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

.address {
  background-color: black;
  height: 275px;
  width: 300px;
  margin: 0 20px;
  opacity: 1;
  text-align: center;
}

.address h3 {
  padding: 20px;
}

.address p {
  padding: 20px 0;
}

/* Contact Section */

.contact {
  height: 200px;
}

.contact h2 {
  margin-bottom: 15px;
}

.contact h5 {
  padding: 20px;
}

/* Copyright Footer */

footer h5 {
  margin: 40px 20px;
  text-align: left;
}
