/* GLOBAL SETTINGS */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

main {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  position: relative;
  top: 70px;
}

h2, h4 {
  text-align: center;
  padding: 10px;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: inherit;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav span {
  padding: 10px;
}

a {
  color: inherit;
}



/* SECTIONS */

#mission {
  background-image: url(../../resources/images/img-mission-background.jpg);
  /*position: relative;
  top: 70px;*/
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}


#tea {
  width: 1000px;
  border: 1px white solid; /* remove */
  margin: 0 auto;

}

 .teas.headings {
  height: 120px;
  padding-top: 50px;
  border: 1px white solid; /* remove */
}

.headings {
  background-color: black;
  width: inherit;
}

.menu {

}

.item img {
  height: 200px;
  width: 300px;
}
