/* General Settings */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

main {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
  position: relative;
  top: 70px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid seashell;
  background-color: inherit;
}

header img {
  height: 50px;
  margin-left: 10px;
}

nav span {
  padding: 10px;
}

a {
  color: inherit;
}

/* General Heading Settings */

h2, h3, h4 {
  text-align: center;
  padding: 10px;
}

.headings {
  background-color: black;
  width: inherit;
}

/* Section One - Mission Statement */

#mission {
  background-image: url(../../resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  /*position: relative;
  top: 70px;*/


}

.backdrop {



}

/* Section Two - Menu */

#tea {
  width: 1000px;
  border: 1px white solid; /* remove */
  margin: 0 auto;
}

 .teas.headings {
  height: 120px;
  padding-top: 50px;
  border: 1px white solid; /* remove */
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  height: 250px;
  width: 330px;
}

.item img {
  height: 200px;
  width: 300px;
  margin-left: 15px;
}

/* Section Three - Locations */

#locations {
  background-image: url(../../resources/images/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  padding-bottom: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stores {
  display: flex;
  justify-content: center;
}

.address {
  background-color: black;
  height: 300px;
  width: 300px;
}
